.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('login2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  padding: 30px 40px;
  color: black;
 
}


.wrapper .form {
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: transparent; /* or set a specific background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}
.forget{
  margin-left: 18%;
}
.wrapper .input-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.wrapper input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: auto;
}
.wrapper .remember-me {
  display: flex;
  align-items: center;
  /* margin-left: 10px; Adjusted margin for better alignment */
  font-size: medium;
}
.wrapper .register-link {
  margin-top: 10px;
  text-align: center;
}

.wrapper a {
  text-decoration: none;
  color: blue;
  transition: color 0.3s ease;
  font-size: 14px;
}

.wrapper a:hover {
  color: red;
  transform: scale(1.01);
}
