ol {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 10px;
    border: solid black;
    position: relative;
    top: 0;
}

li {
    font-family: 'Times New Roman', Times, serif;
}

li a {
    color: white;
    text-decoration: none;
}


li a:hover {
    color: bisque;
    transform: scale(1.2);
    
}


