ol{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:black;
    color: aliceblue;
    margin: 0px;
    padding: 10px;
    border: solid black;
    position: relative;
    top:0;
}


li
{

font-family: 'Times New Roman', Times, serif;

}
li a{
    color:white;
    text-decoration: none;
    
}
li:hover{
    transform: scale(1.2);
    margin: 0px;
}
li a:hover
{
    color:bisque;
}


